/*#### MyoPhysio Styles ####*/


/*#### Import Fonts ####*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,700);



/*#### Overrides ####*/
.row {
  margin: 0;
}


/*#### General Styles ####*/

body {
  background: #444444;
  color: #ffffff;
  width: 100%;
}

h1, h2, h3, p, li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 130%;
}

p {
  padding: 10px;
}

strong {
  font-weight: 700;
}

.light {
  font-weight: 100;
}

.heavy {
  font-weight: 700;
}

.bigred{
  color: #ff2222;
  font-size: 140%;
}

/*#### Main ID Styles ####*/

#head {
  background: #2ecc71;
  color: #ffffff;
  font-size: 450%;
  margin: 0;
}

#demo-pic {
  background: #cccccc;
  padding: 40px;
  min-height: 400px;
  color: #000000;
}

#drop-menu {
  background: #f5f5f5;
  padding: 15px 0;
  color: #000000;
  font-size: 130%;
}

#drop-menu select {
  border: 1px black solid;
  width: 400px;
}

.menu {
  padding: 20px 20px 5px 10px;
}

.menu a {
  color: #3498db;
}

.menu-des {
  padding-right: 20px;
  padding-bottom: 20px;
}

#feedback {
  padding: 30px;
  background: #232323;
  color: #ffffff;
  min-height: 400px;
}

#graph {
  padding: 40px;
}

#stats {
  background: #2c3e50;
  color: #ffffff;
  padding: 40px;
}

#footer {
  background: #232323;
  color: #ffffff;
  text-align: center;
  font-size: 70%;
  padding: 40px 0;
}


/*#### Therapist Styles ####*/

#patient-info {
  background: #555555;
  color: #ffffff;
  min-height: 400px;
  margin-bottom: 20px;
}

/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/