/*#### MyoPhysio Styles ####*/


/*#### Import Fonts ####*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);



/*#### General Styles ####*/

body {
  background: #444444;
}

html, body, h1, h2, h3, p, li {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 130%;
}

p {
  padding: 10px;
}

strong {
  font-weight: 700;
}

/*#### Main ID Styles ####*/

#head {
  background: #2ecc71;
  color: #ffffff;
  font-size: 350%;
  margin: 0;
}

#demo-pic {
  background: #cccccc;
  padding: 40px;
  min-height: 400px;
}

#drop-menu {
  background: #f5f5f5;
  padding: 10px 0;
}

#feedback {
  padding: 30px;
  background: #232323;
  color: #ffffff;
  min-height: 400px;
}

#graph {

}

#stats {
  background: #2c3e50;
  color: #ffffff;
}

#footer {
  background: #232323;
  color: #ffffff;
  text-align: center;
  font-size: 70%;
}

/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/