<div ng-init="init()">
	<div class="text-right menu-des"><span class="text-right" >You are currently logged in as: {{identity}}</span></div>
	<div class="row">
		<div id="drop-menu" class="text-center">
			<p>Select your exercise:
				<select ng-model="exercise">
					<option value="{{ ex }}" ng-repeat="ex in exercises" >{{ ex }}</option>
				</select>
			</p>
		</div>
	</div>
	<div class="row">
	  <div id="demo-pic" class="col-sm-5 text-center">
	  	<p ng-hide="exercise != null || exercise != undefined">Pick an exercise!</p>
	    <p ng-show="exercise == 'shoulder rotate'"><img  src="img/person_armrotate.png">Rotate your shoulder!</p>
	    <p ng-show="exercise == 'arm raise'"><img  src="img/person_raisearm.png">Raise your arm!</p>
	  </div>
	  <div id="feedback" class="col-sm-7 text-center">
	    <p><img src="img/check.png"></p>
	    <p>GOOD JOB!</p>
	  </div>
	</div>
	<div class="row">
	  <div id="graph" class="col-sm-12 text-center" chart>
	    <div>
	    	<div>Testing out api $http calls.... random api site</div>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div id="stats" class="col-sm-12">
	    <table class="table">
	    	<tr><th>Exercise Type</th><th>Set #</th><th>Average Acceleration</th></tr>
	    	<tr><td>Shoulder Rotation</td><td>{{shoulder_rotation_count}}/{{total_set}}</td><td>9999</td></tr>
	    </table>
	    <!-- <button ng-click="reset()">Reset</button> -->
	    <button>Notify Physiotherapist </button>
	  </div>
	</div>
</div>

