<div class="text-right menu-des"><span class="text-right">You are currently logged in as: {{identity}}</span></div>
<div class="row">	
	<div class="col-lg-5">
		 <table class="table">
  			<tr><th>Patient #</th><th>Age</th><th>Shoulder Rotate</th><th>Arm Raise</th></tr>
  			<tr><td><a href="#/view1">Patient 1</a></td><td>25</td><td>{{shoulder_rotate_count}}</td><td>{{arm_raise_count}}</td></tr>
  			<tr><td>Patient 2</td><td>14</td><td>0</td><td>0</td></tr>
  			<tr><td>Patient 3</td><td>50</td><td>0</td><td>0</td></tr>
  			<tr><td>Patient 4</td><td>70</td><td>0</td><td>0</td></tr>
  			<tr><td>Patient 5</td><td>42</td><td>0</td><td>0</td></tr>
  			<tr><td>Patient 6</td><td>8</td><td>0</td><td>0</td></tr>
  		</table>
	</div>
	<div id="patient-info" class="col-lg-6">
	<div id="graph" class="col-sm-12 text-center" charttherapist>
	</div>
</div>
