<div id="drop-menu">
	<p>Select your exercise:
		<select>
			<option value="{{ ex }}" ng-repeat="ex in exercises">{{ ex }}</option>
		</select>
	</p>
</div>
<div id="container">
	<div class="row">
	  <div id="demo-pic" class="col-sm-5">
	    <p>PICTURE GOES HERE</p>
	  </div>
	  <div id="feedback" class="col-sm-7">
	    <p>GOOD JOB!</p>
	  </div>
	</div>
	<div class="row">
	  <div id="graph" class="col-sm-12">
	    <p>DATA POINTS GO HERE</p>
	  </div>
	</div>
	<div class="row">
	  <div id="stats" class="col-sm-12">
	    <p>STATS GO HERE</p>
	  </div>
	</div>
</div>